* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
a {
  text-decoration: none;
  color: currentColor;
}
li {
  list-style: none;
}
html {
  font-size: 10px;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}
body {
  background: #fafafa;
}
.container {
  position: relative;
  width: 100%;
  max-width: 124rem;
  margin: 0 auto;
}
footer {
  background: #303030;
}
#footerlogo {
  height: 5rem;
  display: block;
  margin: 0 auto;
}
.bottom {
  padding: 4rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 80%;
}
.footer__phone {
  font-size: 22px;
  padding: 15px 0;
  white-space: nowrap;
  color: #ccc;
  text-align: center;
}
.back__call {
  display: block;
  margin: 0 auto;
  border: 2px solid #f89b24;
  width: 19.1rem;
  cursor: pointer;
}
.back__call:hover {
  -webkit-animation: hovercolor 0.2s linear forwards;
          animation: hovercolor 0.2s linear forwards;
}
.back__call p {
  font-size: 1.4rem;
  line-height: 2.5;
  color: #f89b24;
  text-align: center;
}
.back__call p:hover {
  color: #fff;
}
.categories {
  width: 100%;
  padding-left: 3%;
}
.categories__item {
  width: 50%;
  line-height: 1.1;
  padding: 6px 0;
  display: inline-block;
  font-size: 13px;
  color: #ccc;
}
.categories__item a {
  cursor: pointer;
}
.h3heading {
  font-size: 18px;
  font-weight: bold;
  color: #f89b24;
  margin-bottom: 20px;
  cursor: pointer;
}
.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
}
.content__display {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.social__networks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.socnetimg {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #f89b24;
  width: 4.8rem;
  height: 4.8rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
.socnetimg img {
  padding: 1.2rem;
}
.socnetimg img:hover {
  -webkit-filter: invert(1);
          filter: invert(1);
}
@media screen and (max-width: 1300px) {
  #menu__slider {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  #nav {
    padding-left: 2rem;
  }
}
@media screen and (max-width: 1200px) {
  .search {
    display: none;
  }
  .search__small {
    display: block !important;
  }
  .search__small:hover .search__mobile {
    display: block !important;
    position: absolute;
    top: 68px;
  }
}
@media screen and (max-width: 1132px) {
  nav span {
    font-size: 1.4rem !important;
  }
  .navitem {
    padding: 1.2rem 1.8rem !important;
  }
}
@media screen and (max-width: 1037px) {
  .main-menu {
    width: 22rem;
  }
  .main-menu .sub-menu {
    width: 22rem;
    left: 22rem;
  }
  .navcollection {
    width: 22rem !important;
  }
  .slider__wrapper {
    width: -webkit-calc(100% - 220px);
    width: calc(100% - 220px);
  }
}
@media screen and (max-width: 958px) {
  .bottom {
    display: block !important;
    padding-top: 0;
  }
  #footerlogo {
    display: block;
    margin: 0 auto;
    padding: 2rem 0;
    height: 9rem !important;
  }
  .footerphone {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .h3heading {
    text-align: center;
  }
  .categories {
    padding: 1rem 0 0 !important;
  }
  .categories__item a {
    padding-left: 35%;
  }
  .content {
    display: none !important;
  }
  .social__networks {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav span {
    font-size: 1.2rem !important;
  }
  .navitem {
    padding: 1.2rem 1.5rem !important;
  }
}
@media screen and (max-width: 870px) {
  .phone__number {
    padding-left: 15rem;
  }
  #headerlogo {
    margin: 0.9rem 3rem !important;
  }
}
@media screen and (max-width: 767px) {
  .photo__gallery {
    margin-top: 5rem;
  }
  .photo__gallery img {
    width: 100%;
    height: auto;
  }
  header {
    display: none;
  }
  .header__mobile {
    display: block !important;
  }
  .menu__mobile {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    background: #fafafa;
  }
  nav {
    display: none;
  }
  .menu {
    display: none;
  }
  .slider {
    width: 96%;
    height: 100%;
    margin: 0 auto;
  }
  .slider__wrapper {
    width: 100%;
    height: -webkit-calc(100vh - 11rem);
    height: calc(100vh - 11rem);
  }
  .slick-dots {
    top: 45rem;
  }
  .navcollection {
    width: 96% !important;
  }
}
