* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
a {
  text-decoration: none;
  color: currentColor;
}
li {
  list-style: none;
}
html {
  font-size: 10px;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}
body {
  background: #fafafa;
}
.container {
  position: relative;
  width: 100%;
  max-width: 124rem;
  margin: 0 auto;
}
.main-menu {
  width: 30rem;
}
.main-menu:hover {
  -webkit-box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.2);
}
.main-menu a {
  background: #fff;
  display: block;
  font-size: 14px;
  padding: 1.9rem 0 1.9rem 3rem;
  text-decoration: none;
  border: 1px solid #e5e5e5;
}
.main-menu a:hover {
  background-color: #fff;
}
.main-menu li {
  position: relative;
}
.main-menu li:hover .sub-menu {
  display: block;
}
.main-menu .sub-menu {
  width: 30rem;
  z-index: 101;
  background-color: #fff;
  position: absolute;
  left: 30rem;
  top: 0;
  display: none;
}
#menu__slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.onclick {
  display: block !important;
}
.slider__wrapper {
  width: -webkit-calc(100% - 300px);
  width: calc(100% - 300px);
  height: 50rem;
}
.slider {
  width: 100%;
  height: 100%;
  margin-bottom: 5rem;
}
.slider:hover .slick-arrow {
  display: block !important;
}
.slide {
  background: url(../img/iphone.jpg) no-repeat;
  height: 50rem;
  width: 100%;
  position: relative;
  z-index: 99;
}
.slide img {
  z-index: 99;
  max-width: 100%;
  height: auto;
}
.slick-dots {
  bottom: 2.5rem;
}
.slick-arrow {
  z-index: 100;
  display: none !important;
}
.slick-prev:before {
  content: url("../img/left-arrow.png");
}
.slick-next:before {
  content: url("../img/right-arrow.png");
}
.slick-prev {
  left: 4rem;
}
.slick-next {
  right: 4rem;
}
.photo__gallery {
  padding: 5rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.photo__gallery img {
  width: 31rem;
  height: 31rem;
  padding: 1px;
}
.photo__gallery img:hover {
  -webkit-animation: minify 0.2s linear;
          animation: minify 0.2s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  cursor: pointer;
}
.aboutstore {
  padding: 0 3rem 4rem 3rem;
}
.aboutstore .heading {
  font-size: small;
  font-weight: 700;
  padding: 3.5rem 0 2.7rem 0;
}
.aboutstore li {
  padding-bottom: 1rem;
}
.aboutstore .text {
  font-size: small;
  color: #808080;
}
footer {
  background: #303030;
}
#footerlogo {
  height: 5rem;
}
.bottom {
  padding: 4rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 80%;
}
.footer__phone {
  font-size: 22px;
  padding: 15px 0;
  white-space: nowrap;
  color: #ccc;
  text-align: center;
}
.back__call {
  display: block;
  margin: 0 auto;
  border: 2px solid #f89b24;
  width: 19.1rem;
}
.back__call:hover {
  -webkit-animation: hovercolor 0.2s linear forwards;
          animation: hovercolor 0.2s linear forwards;
}
.back__call p {
  font-size: 1.4rem;
  line-height: 2.5;
  color: #f89b24;
  text-align: center;
}
.back__call p:hover {
  color: #fff;
}
.categories {
  width: 100%;
  padding-left: 3%;
}
.categories__item {
  width: 50%;
  line-height: 1.1;
  padding: 6px 0;
  display: inline-block;
  font-size: 13px;
  color: #ccc;
}
.h3heading {
  font-size: 18px;
  font-weight: bold;
  color: #f89b24;
  margin-bottom: 20px;
}
.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
}
.content__display {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.social__networks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.socnetimg {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #f89b24;
  width: 4.8rem;
  height: 4.8rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
.socnetimg img {
  padding: 1.2rem;
}
.socnetimg img:hover {
  -webkit-filter: invert(1);
          filter: invert(1);
}
.home__anchor {
  display: none;
  position: fixed;
  height: 5rem;
  width: 5rem;
  -webkit-border-radius: 2.5rem;
          border-radius: 2.5rem;
  background-color: #f89b24;
  right: 3rem;
  bottom: 5rem;
  z-index: 99;
}
.home__anchor img {
  padding: 1.3rem;
}
.home__anchor img:hover {
  -webkit-filter: invert(1);
          filter: invert(1);
}
@media screen and (max-width: 1200px) {
  .search {
    display: none;
  }
  .search__small {
    display: block !important;
  }
  .search__small:hover .search__mobile {
    display: block !important;
    position: absolute;
    top: 68px;
  }
}
@media screen and (max-width: 1186px) {
  nav span {
    font-size: 1.4rem !important;
  }
  navitem {
    padding: 1.2rem 1.8rem !important;
  }
}
@media screen and (max-width: 1113px) {
  nav span {
    font-size: 1.3rem !important;
  }
  navitem {
    padding: 1.2rem 1.6rem !important;
  }
}
@media screen and (max-width: 1076px) {
  #nav5 {
    display: none;
  }
  .not__nav5 {
    display: block;
  }
}
@media screen and (max-width: 1022px) {
  .main-menu {
    width: 22rem;
  }
  .main-menu .sub-menu {
    width: 22rem;
    left: 22rem;
  }
  .navcollection {
    width: 22rem !important;
  }
  .slider__wrapper {
    width: -webkit-calc(100% - 220px);
    width: calc(100% - 220px);
  }
}
@media screen and (max-width: 973px) {
  #nav4 {
    display: none;
  }
}
@media screen and (max-width: 958px) {
  .bottom {
    display: block;
    padding-top: 0;
  }
  #footerlogo {
    display: block;
    margin: 0 auto;
    padding: 2rem 0;
    height: 9rem;
  }
  .footerphone {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .h3heading {
    text-align: center;
  }
  .categories {
    cursor: pointer;
    padding: 1rem 0 0;
  }
  .categories__item a {
    padding-left: 35%;
  }
  .content {
    display: none;
  }
  .social__networks {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 870px) {
  #nav3 {
    display: none;
  }
  .phone__number {
    padding-left: 15rem;
  }
  #headerlogo {
    margin: 0.9rem 3rem !important;
  }
}
@media screen and (max-width: 767px) {
  .photo__gallery {
    margin-top: 5rem;
  }
  .photo__gallery img {
    width: 100%;
    height: auto;
  }
  header {
    display: none;
  }
  .header__mobile {
    display: block !important;
  }
  .menu__mobile {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    background: #fafafa;
  }
  nav {
    display: none;
  }
  .menu {
    display: none;
  }
  .slider {
    width: 96%;
    height: 100%;
    margin: 0 auto;
  }
  .slider__wrapper {
    width: 100%;
    height: -webkit-calc(100vh - 11rem);
    height: calc(100vh - 11rem);
  }
  .slick-dots {
    top: 45rem;
  }
  .navcollection {
    width: 96% !important;
  }
}
@-webkit-keyframes minify {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.985);
            transform: scale(0.985);
  }
}
@keyframes minify {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.985);
            transform: scale(0.985);
  }
}
@-webkit-keyframes hovercolor {
  to {
    background: #f89b24;
  }
}
@keyframes hovercolor {
  to {
    background: #f89b24;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
a {
  text-decoration: none;
  color: currentColor;
}
li {
  list-style: none;
}
html {
  font-size: 10px;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}
body {
  background: #fafafa;
}
.container {
  position: relative;
  width: 100%;
  max-width: 124rem;
  margin: 0 auto;
}
header {
  background: #ffffff;
  height: 6.8rem;
  overflow: hidden;
  z-index: 9999;
}
#headerlogo {
  padding-left: 5rem;
  margin: 0.9rem 5rem;
  max-height: 5rem;
}
#header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.header__mobile {
  display: none;
  background: #ffffff;
  width: 100%;
}
.header__mobile img {
  max-height: 7rem;
  width: auto;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: block;
}
.header__fixed {
  position: fixed;
  width: 100%;
}
.search__mobile {
  display: none;
}
.search__mobile__onclick {
  display: block !important;
}
#search__mobile__input {
  width: 100%;
  padding-left: 3rem;
  border: none;
  background: #fafafa !important;
  outline: none;
  height: 24px;
  color: #000000;
  font-size: 16px;
}
.phone__number {
  padding: 2.4rem 0 2.4rem 10%;
  margin-right: 1rem;
  font-size: 2rem;
  line-height: 1;
  height: 100%;
}
.headeritems {
  padding: 0 10rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.headeritem {
  max-height: 2rem;
  margin: 2.4rem 1rem;
  cursor: pointer;
}
.search__small {
  width: 2rem;
  display: none;
}
.search__small img {
  width: 2rem;
  height: auto;
}
.search {
  position: relative;
  width: 300px;
  height: 100%;
  margin: 12px 0 11px 0;
}
.magnifying-glass {
  position: relative;
  -webkit-transform: translateX(40%);
      -ms-transform: translateX(40%);
          transform: translateX(40%);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  -o-transition: transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}
.search.active .magnifying-glass {
  -webkit-transform: translateX(-7%);
      -ms-transform: translateX(-7%);
          transform: translateX(-7%);
}
.magnifying-glass-path {
  fill: none;
  stroke-dasharray: 210 808;
  stroke-linecap: round;
  stroke-width: 6;
  stroke: #000;
  -webkit-transition: stroke-dasharray 500ms, stroke-dashoffset 500ms;
  -o-transition: stroke-dasharray 500ms, stroke-dashoffset 500ms;
  transition: stroke-dasharray 500ms, stroke-dashoffset 500ms;
}
.search.active .magnifying-glass-path {
  stroke-dasharray: 580 808;
  stroke-dashoffset: -224px;
}
.x {
  fill: none;
  stroke-dasharray: 56 92;
  stroke-dashoffset: -92px;
  stroke-linecap: round;
  stroke-width: 6;
  stroke: #000;
  -webkit-transition: stroke-dashoffset 500ms;
  -o-transition: stroke-dashoffset 500ms;
  transition: stroke-dashoffset 500ms;
  visibility: hidden;
}
.search.active .x {
  visibility: visible;
}
.search.searching .x {
  stroke-dashoffset: 0;
}
.input {
  border: 0;
  font-size: 1.6rem;
  left: 20px;
  outline: 0 !important;
  position: absolute;
  top: 0.8rem;
}
.overlay {
  background: rgba(0, 0, 0, 0);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  cursor: pointer;
  position: absolute;
  -webkit-transition: background 300ms;
  -o-transition: background 300ms;
  transition: background 300ms;
}
.overlay-1 {
  height: 64px;
  left: 110px;
  top: -10px;
  width: 64px;
}
.overlay-2 {
  height: 38px;
  left: 240px;
  top: 0px;
  width: 38px;
}
.overlay:hover {
  background: rgba(0, 0, 0, 0.08);
}
.search.active .overlay-1 {
  visibility: hidden;
}
.search:not(.active) .overlay-2,
.search:not(.searching) .overlay-2 {
  visibility: hidden;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
a {
  text-decoration: none;
  color: currentColor;
}
li {
  list-style: none;
}
html {
  font-size: 10px;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}
body {
  background: #fafafa;
}
.container {
  position: relative;
  width: 100%;
  max-width: 124rem;
  margin: 0 auto;
}
nav {
  background: rgba(10, 10, 10, 0.863);
  width: 100%;
}
nav span {
  color: white;
  font-size: 1.6rem;
}
.navcollection {
  width: 30rem;
  background: #534c4c;
}
.navitem {
  padding: 1.2rem 2rem;
}
.navitem:hover:not(.navcollection) {
  background: #534c4c;
  cursor: pointer;
}
.navitem:hover:not(.navcollection) span:not(.navcollection) {
  color: white;
}
#nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.nav__fixed {
  position: fixed;
  z-index: 9999;
  top: 36px;
  left: 0;
  background: #ffffff;
}
.nav__onclick__responsive {
  display: block;
  background: #ffffff;
}
.nav__onclick__responsive #nav {
  display: block;
}
.nav__onclick__responsive span {
  color: #000000;
}
.nav__onclick__responsive .navcollection {
  background: #ffffff;
}
.nav__onclick__responsive .navcollection span {
  font-weight: bold;
}
.nav__onclick__responsive .navitem {
  width: 96%;
  margin: 0 auto;
}
.nav__onclick__responsive .navitem:not(.navcollection) {
  border-top: 1px solid #f3f3f3;
}
.more__items {
  display: none;
  position: absolute;
  top: 4.6rem;
  z-index: 100;
  right: 6.8rem;
}
.more__items li {
  width: 22rem;
  padding: 15px 2rem;
  background: #ffffff;
}
.more__items li:not(.one__more__item) {
  border-top: 1px solid #e5e5e5;
}
.more__items li a {
  font-size: 14px;
}
.more__items__fixed {
  display: block;
  position: fixed;
  right: 0;
  top: 242px;
  z-index: 10000;
  width: 100%;
  margin: 0 auto;
  background: #ffffff;
}
.more__items__fixed li {
  width: 96%;
  margin: 0 auto;
  padding: 3px 2rem;
  border-top: 1px solid #f3f3f3;
}
.more__items__fixed li a {
  font-size: 14px;
}
.hidden {
  display: none;
  background: transparent;
  border-top: 1px solid #f3f3f3;
}
.responsive__katalog {
  display: none;
  width: 96%;
  margin: 0 auto;
  background: #ffffff;
}
.responsive__katalog li {
  padding: 3px 2rem;
  border-top: 1px solid #f3f3f3;
}
.responsive__katalog li a {
  font-size: 14px;
}
.menu__mobile {
  background: #ffffff;
  display: none;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.menu__mobile li {
  padding: 1rem 0;
}
.menu__mobile i {
  font-size: 16px;
}
.menu__mobile__fixed {
  background: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}
.onclick {
  display: block !important;
}
