@media screen and (max-width: 1200px) {
  .search {
    display: none;
  }
  .search__small {
    display: block;
  }
  .search__small:hover .search {
    display: block;
    position: absolute;
    top: 68px;
  }
}
@media screen and (max-width: 1186px) {
  nav span {
    font-size: 1.4rem;
  }
  navitem {
    padding: 1.2rem 1.8rem;
  }
}
@media screen and (max-width: 1113px) {
  nav span {
    font-size: 1.3rem;
  }
  navitem {
    padding: 1.2rem 1.6rem;
  }
}
@media screen and (max-width: 1076px) {
  #nav5 {
    display: none;
  }
  .not__nav5 {
    display: block;
  }
}
@media screen and (max-width: 1022px) {
  .main-menu {
    width: 22rem;
  }
  .main-menu .sub-menu {
    width: 22rem;
    left: 22rem;
  }
  .navcollection {
    width: 22rem;
  }
  .slider__wrapper {
    width: -webkit-calc(100% - 220px);
    width: calc(100% - 220px);
  }
}
@media screen and (max-width: 973px) {
  #nav4 {
    display: none;
  }
}
@media screen and (max-width: 958px) {
  .bottom {
    display: block;
    padding-top: 0;
  }
  #footerlogo {
    display: block;
    margin: 0 auto;
    padding: 2rem 0;
    height: 9rem;
  }
  .footerphone {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .h3heading {
    text-align: center;
  }
  .categories {
    cursor: pointer;
    padding: 1rem 0 0;
  }
  .categories__item a {
    padding-left: 35%;
  }
  .content {
    display: none;
  }
  .social__networks {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 870px) {
  #nav3 {
    display: none;
  }
  .phone__number {
    padding-left: 15rem;
  }
}
@media screen and (max-width: 767px) {
  .photo__gallery {
    margin-top: 5rem;
  }
  .photo__gallery img {
    width: 100%;
    height: auto;
  }
  header {
    display: none;
  }
  .header__mobile {
    display: block;
  }
  .menu__mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #fafafa;
  }
  nav {
    display: none;
  }
  .menu {
    display: none;
  }
  .slider {
    width: 96%;
    height: 100%;
    margin: 0 auto;
  }
  .slider__wrapper {
    width: 100%;
    height: -webkit-calc(100vh - 11rem);
    height: calc(100vh - 11rem);
  }
  .slick-dots {
    top: 45rem;
  }
}
