* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
a {
  text-decoration: none;
  color: currentColor;
}
li {
  list-style: none;
}
html {
  font-size: 10px;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}
body {
  background: #fafafa;
}
.container {
  position: relative;
  width: 100%;
  max-width: 124rem;
  margin: 0 auto;
}
nav {
  background: rgba(10, 10, 10, 0.863);
  width: 100%;
}
nav span {
  color: white;
  font-size: 1.6rem;
}
.nav__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.nav__container__mobile {
  display: block;
  position: absolute;
  top: 0rem;
  right: 0rem;
  width: -webkit-calc(100vw - 26rem);
  width: calc(100vw - 26rem);
  height: 100%;
  z-index: 100;
  background: rgba(10, 10, 10, 0.863) !important;
}
.nav__container__smallest {
  display: block !important;
  z-index: 110;
  width: 100%;
}
.nav__container__smallest .navitem {
  background: #ffffff;
}
.navcollection {
  width: 30rem;
  background: #534c4c;
  cursor: pointer;
}
.navitem {
  padding: 1.2rem 2rem;
}
.navitem:hover:not(.navcollection) {
  background: #534c4c;
  cursor: pointer;
}
.navitem:hover:not(.navcollection) span:not(.navcollection) {
  color: white;
}
.colored__background {
  background: black;
}
.display__none {
  display: none;
}
#nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.nav__fixed {
  position: fixed;
  z-index: 9999;
  top: 36px;
  left: 0;
  background: #ffffff;
}
.nav__onclick__responsive {
  display: block;
  background: #ffffff;
}
.nav__onclick__responsive #nav {
  display: block;
}
.nav__onclick__responsive span {
  color: #000000;
}
.nav__onclick__responsive .navcollection {
  background: #ffffff;
}
.nav__onclick__responsive .navcollection span {
  font-weight: bold;
}
.nav__onclick__responsive .navitem {
  width: 96%;
  margin: 0 auto;
}
.nav__onclick__responsive .navitem:not(.navcollection) {
  border-top: 1px solid #f3f3f3;
}
.responsive__burger {
  display: none;
  position: absolute;
  right: 4rem;
}
.responsive__burger i {
  color: #ffffff;
  font-size: 2.4rem;
  margin: 0.8rem 0;
  cursor: pointer;
}
.responsive__katalog {
  display: none;
  width: 96%;
  margin: 0 auto;
  background: #ffffff;
}
.responsive__katalog li {
  padding: 3px 2rem;
  border-top: 1px solid #f3f3f3;
}
.responsive__katalog li a {
  font-size: 14px;
}
.menu__mobile {
  background: #ffffff;
  display: none;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.menu__mobile li {
  padding: 1rem 0;
}
.menu__mobile i {
  font-size: 16px;
}
.menu__mobile__fixed {
  background: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}
.onclick {
  display: block !important;
}
@media screen and (max-width: 1300px) {
  #menu__slider {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  #nav {
    padding-left: 2rem;
  }
}
@media screen and (max-width: 1200px) {
  .search {
    display: none;
  }
  .search__small {
    display: block !important;
  }
  .search__small:hover .search__mobile {
    display: block !important;
    position: absolute;
    top: 68px;
  }
}
@media screen and (max-width: 1132px) {
  nav span {
    font-size: 1.4rem !important;
  }
  .navitem {
    padding: 1.2rem 1.8rem !important;
  }
}
@media screen and (max-width: 1037px) {
  .main-menu {
    width: 22rem;
  }
  .main-menu .sub-menu {
    width: 22rem;
    left: 22rem;
  }
  .navcollection {
    width: 22rem !important;
  }
  .slider__wrapper {
    width: -webkit-calc(100% - 220px);
    width: calc(100% - 220px);
  }
}
@media screen and (max-width: 958px) {
  .bottom {
    display: block !important;
    padding-top: 0;
  }
  #footerlogo {
    display: block;
    margin: 0 auto;
    padding: 2rem 0;
    height: 9rem !important;
  }
  .footerphone {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .h3heading {
    text-align: center;
  }
  .categories {
    padding: 1rem 0 0 !important;
  }
  .categories__item a {
    padding-left: 35%;
  }
  .content {
    display: none !important;
  }
  .social__networks {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav span {
    font-size: 1.2rem !important;
  }
  .navitem {
    padding: 1.2rem 1.5rem !important;
  }
}
@media screen and (max-width: 870px) {
  .phone__number {
    padding-left: 15rem;
  }
  #headerlogo {
    margin: 0.9rem 3rem !important;
  }
}
@media screen and (max-width: 767px) {
  .photo__gallery {
    margin-top: 5rem;
  }
  .photo__gallery img {
    width: 100%;
    height: auto;
  }
  header {
    display: none;
  }
  .header__mobile {
    display: block !important;
  }
  .menu__mobile {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    background: #fafafa;
  }
  nav {
    display: none;
  }
  .menu {
    display: none;
  }
  .slider {
    width: 96%;
    height: 100%;
    margin: 0 auto;
  }
  .slider__wrapper {
    width: 100%;
    height: -webkit-calc(100vh - 11rem);
    height: calc(100vh - 11rem);
  }
  .slick-dots {
    top: 45rem;
  }
  .navcollection {
    width: 96% !important;
  }
}
