nav {
  background: rgba(10, 10, 10, 0.863);
  width: 100%;
}
nav span {
  color: white;
  font-size: 1.6rem;
}
.navcollection {
  width: 30rem;
  background: #534c4c;
}
.navitem {
  padding: 1.2rem 2rem;
}
.navitem:hover:not(.navcollection) {
  background: #534c4c;
  cursor: pointer;
}
.navitem:hover:not(.navcollection) span:not(.navcollection) {
  color: white;
}
#nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.nav__fixed {
  position: fixed;
  z-index: 9999;
  top: 36px;
  left: 0;
  background: #ffffff;
}
.nav__onclick__responsive {
  display: block;
  background: #ffffff;
}
.nav__onclick__responsive #nav {
  display: block;
}
.nav__onclick__responsive span {
  color: #000000;
}
.nav__onclick__responsive .navcollection {
  background: #ffffff;
}
.nav__onclick__responsive .navcollection span {
  font-weight: bold;
}
.nav__onclick__responsive .navitem {
  width: 96%;
  margin: 0 auto;
}
.nav__onclick__responsive .navitem:not(.navcollection) {
  border-top: 1px solid #f3f3f3;
}
.more__items {
  display: none;
  position: absolute;
  top: 4.6rem;
  z-index: 100;
  right: 6.8rem;
}
.more__items li {
  width: 22rem;
  padding: 15px 2rem;
  background: #ffffff;
}
.more__items li:not(.one__more__item) {
  border-top: 1px solid #e5e5e5;
}
.more__items li a {
  font-size: 14px;
}
.more__items__fixed {
  display: block;
  position: fixed;
  right: 0;
  top: 242px;
  z-index: 10000;
  width: 100%;
  margin: 0 auto;
  background: #ffffff;
}
.more__items__fixed li {
  width: 96%;
  margin: 0 auto;
  padding: 3px 2rem;
  border-top: 1px solid #f3f3f3;
}
.more__items__fixed li a {
  font-size: 14px;
}
.hidden {
  display: none;
  background: transparent;
  border-top: 1px solid #f3f3f3;
}
.responsive__katalog {
  display: none;
  width: 96%;
  margin: 0 auto;
  background: #ffffff;
}
.responsive__katalog li {
  padding: 3px 2rem;
  border-top: 1px solid #f3f3f3;
}
.responsive__katalog li a {
  font-size: 14px;
}
@media screen and (max-width: 1200px) {
  .search {
    display: none;
  }
  .search__small {
    display: block !important;
  }
  .search__small:hover .search__mobile {
    display: block !important;
    position: absolute;
    top: 68px;
  }
}
@media screen and (max-width: 1186px) {
  nav span {
    font-size: 1.4rem !important;
  }
  navitem {
    padding: 1.2rem 1.8rem !important;
  }
}
@media screen and (max-width: 1113px) {
  nav span {
    font-size: 1.3rem !important;
  }
  navitem {
    padding: 1.2rem 1.6rem !important;
  }
}
@media screen and (max-width: 1076px) {
  #nav5 {
    display: none;
  }
  .not__nav5 {
    display: block;
  }
}
@media screen and (max-width: 1022px) {
  .main-menu {
    width: 22rem;
  }
  .main-menu .sub-menu {
    width: 22rem;
    left: 22rem;
  }
  .navcollection {
    width: 22rem !important;
  }
  .slider__wrapper {
    width: -webkit-calc(100% - 220px);
    width: calc(100% - 220px);
  }
}
@media screen and (max-width: 973px) {
  #nav4 {
    display: none;
  }
}
@media screen and (max-width: 958px) {
  .bottom {
    display: block;
    padding-top: 0;
  }
  #footerlogo {
    display: block;
    margin: 0 auto;
    padding: 2rem 0;
    height: 9rem;
  }
  .footerphone {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .h3heading {
    text-align: center;
  }
  .categories {
    cursor: pointer;
    padding: 1rem 0 0;
  }
  .categories__item a {
    padding-left: 35%;
  }
  .content {
    display: none;
  }
  .social__networks {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 870px) {
  #nav3 {
    display: none;
  }
  .phone__number {
    padding-left: 15rem;
  }
  #headerlogo {
    margin: 0.9rem 3rem !important;
  }
}
@media screen and (max-width: 767px) {
  .photo__gallery {
    margin-top: 5rem;
  }
  .photo__gallery img {
    width: 100%;
    height: auto;
  }
  header {
    display: none;
  }
  .header__mobile {
    display: block !important;
  }
  .menu__mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #fafafa;
  }
  nav {
    display: none;
  }
  .menu {
    display: none;
  }
  .slider {
    width: 96%;
    height: 100%;
    margin: 0 auto;
  }
  .slider__wrapper {
    width: 100%;
    height: -webkit-calc(100vh - 11rem);
    height: calc(100vh - 11rem);
  }
  .slick-dots {
    top: 45rem;
  }
  .navcollection {
    width: 96% !important;
  }
}
