* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: currentColor;
}

li{
    list-style: none;
}

html {
    font-size: 10px;
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
body{
  background: #fafafa;
}

.container{
    position: relative;
    width: 100%;
    max-width: 124rem;
    margin: 0 auto;
}







.main-menu {
  width: 30rem;
  &:hover{
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.2);
  }
}

.main-menu a {
  background: #fff;
  display: block;
  font-size: 14px;
  padding: 1.9rem 0 1.9rem 3rem;
  text-decoration: none;
  border: 1px solid #e5e5e5;
}

.main-menu a:hover {
  background-color: #fff;
}

.main-menu li {
  position: relative;
  &:hover{
    .sub-menu{
      display: block;
    }
  }
}

.main-menu .sub-menu {
  width: 30rem;
  z-index: 101;
  background-color: #fff;
  position: absolute;
  left: 30rem;
  top: 0;
  display: none;
}




#menu__slider{
  display: flex;
}




  .onclick{
    display: block !important;
  }

  .slider__wrapper{
    width: calc(100% - 300px);
    height: 50rem;
  }
  .slider{
    width: 100%;
    height: 100%;
    margin-bottom: 5rem;
    &:hover{
      .slick-arrow{
        display: block !important;
      }
    }
  }
  .slide{
    background: url(../img/phone.jpg) center center;
    height: 50rem;
    width: 100%;
    position: relative;
    z-index: 99;
    img{
      z-index: 99;
      max-width: 100%;
      height: auto;
    }
  }
  .slick-dots{
    bottom: 2.5rem;
  }
 .slick-arrow{
   z-index: 100;
   display: none !important;
 }
 .slick-prev:before{
   content: url("../img/left-arrow.png");
 }
 .slick-next:before{
  content: url("../img/right-arrow.png");
 }
 .slick-prev{
   left: 4rem;
 }
 .slick-next{
   right: 4rem;
 }

  .photo__gallery{
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    img{
      width: 31rem;
      height: 31rem;
      padding: 1px;
      &:hover{
        animation: minify 0.2s linear;
        animation-fill-mode: forwards;
        cursor: pointer;
      }
    }
  }

  .aboutstore{
    padding: 0 3rem 4rem 3rem;
    .heading{
      font-size: small;
      font-weight: 700;
      padding: 3.5rem 0 2.7rem 0;
    }
    li{
      padding-bottom: 1rem;
    }
    .text{
      font-size: small;
      color: #808080;
    }
  }



  .home__anchor{
    display: none;
    position: fixed;
    height: 5rem;
    width: 5rem;
    border-radius: 2.5rem;
    background-color: #f89b24;
    right: 3rem;
    bottom: 5rem;
    z-index: 99;
    cursor: pointer;
    img{
        padding: 1.3rem;
        &:hover{
          filter: invert(1);
        }
    }
}




@import 'media';
@import 'animation';
@import 'header';
@import 'nav';
@import 'footer';