* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: currentColor;
}

li{
  list-style: none;
}

html {
  font-size: 10px;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}
body{
background: #fafafa;
}

.container{
  position: relative;
  width: 100%;
  max-width: 124rem;
  margin: 0 auto;
}





nav{
    background: rgba(10, 10, 10, 0.863);
    width: 100%;
    span{
        color: white;
        font-size: 1.6rem;
    }
}
.nav__container{
  display: flex;
  &__mobile{
    display: block;
    position: absolute;
    top: 0rem;
    right: 0rem;
    width: calc(100vw - 26rem);
    height: 100%;
    z-index: 100;
    background: rgba(10, 10, 10, 0.863) !important;
  }
  &__smallest{
    display:block !important;
    z-index: 110;
    width: 100%;
    .navitem{
      background: #ffffff;
    }
  }
}
.navcollection{
    width: 30rem;
    background: rgb(83, 76, 76);
    cursor: pointer;
}
.navitem{
    padding: 1.2rem 2rem;
    &:hover:not(.navcollection){
        background:  rgb(83, 76, 76);
        cursor: pointer;
        span:not(.navcollection){
          color: white;
        }
    }
}
.colored__background{
  background: black;
}
.display__none{
  display: none;
}
#nav{
    display: flex;
}
.nav__fixed{
  position: fixed !important;
  z-index: 9999;
  top: 36px;
  left: 0;
  background: #ffffff;
}
.nav__onclick__responsive{
  display: block;
  background:#ffffff;
  #nav{
    display: block;
  }
  span{
    color: #000000;
  }
  .navcollection{
    background: #ffffff;
    span{
      font-weight: bold;
    }
  }
  .navitem{
    width: 96%;
    margin: 0 auto;
    //pointer-events: none;
    &:not(.navcollection){
      border-top: 1px solid #f3f3f3;
    }
  }
}
.responsive__burger{
    display:none;
    position: absolute;
    right: 4rem;
    i{
      color: #ffffff;
      font-size: 2.4rem;
      margin: 0.8rem 0;
      cursor: pointer;
    }
}
.responsive__katalog{
    display: none;
    width: 96%;
    margin: 0 auto;
    background: #ffffff;
    li{
      padding: 3px 2rem;
      border-top: 1px solid #f3f3f3;
      a{
        font-size: 14px;
      }
    }
  }
  .menu__mobile{
    background: #ffffff;
    display: none;
    justify-content: space-around;
    li{
      padding: 1rem 0;
    }
    i{
      font-size: 16px;
    }
    &__fixed{
      background: #ffffff;
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 9999;
    }
  }

  .onclick{
    display: block !important;
  }




@import 'media';