.slider1{
    max-width: 34rem;
    //border: 1px solid #ccc;
    &__item{
        width: 100%;
        img{
            display: block;
            max-width: 100%;
        }
    }
    z-index: 4;
}
.slider-nav{
    max-width: 34rem;
    &__item{
        padding: 5px 2px;
        width: 25%;
        height: auto;
        opacity: 0.6;
        &:hover, &.slick-current{
            opacity: 1;
        }
        img{
            display: block;
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.product__item{
    display: flex;
    padding-top: 7rem;
    width: 100%;
    padding-bottom: 7rem;
}
.product__view{
    border-bottom: 2px solid #cecece;
}
.product__info{
    background: #ffffff;
    width: 100%;
    margin-left: 1rem;
    padding: 4.5rem 1rem 0 3.5rem;
    border-bottom: 2px solid #cecece;
    &__main{
        display: flex;
    }
}
#product__name{
    font-size: 3rem;
    color: #3c3c3c;
    margin-bottom: 10px;
}
.product__state{
    display: flex;
    font-size: 14px;
    i{
        margin-right: 5px;
    }
    &__container1{
        display: flex;
    }
    &__container2{
        display: flex;
    }
}
.product__available{
    color: #23bf1c;
    display: flex;
    padding-right: 15px;
}
#product__code{
    padding-right: 15px;
}
.star-rating{
    display: flex;
    color: #f1f507;
    padding-right: 15px;
}
.product__price{
    font-size: 3rem;
    margin: 2rem 0;
}
.product__purchase{
    display: flex;
    padding: 3rem 0;
    p{
        font-size: 2rem;
        padding: 1.5rem 4rem;
    }
}
.purchase{
    background-color: #f89b24;
    p{
        color: #ffffff;
    }
    margin-right: 2rem;
    cursor: pointer;
}
.credit{
    p{
        color: #f89b24;
    }
    border: 2px solid #f89b24;
    &:hover{
        p{
            color: #ffffff;
        }
        animation: hovercolor 0.2s linear forwards;
    }
    cursor: pointer;
}
.bottom__line{
    display: flex;
    font-size: 1.8rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid #cecece;
    a{
        color: blue;
        margin-right: 15px;
    }
    i{
        margin-right: 15px;
        color: #b2b2b2;
        cursor: pointer;
        &:hover{
            color: blue;
        }
    }
}
.product__info__left{
    padding-right: 3.5rem;
}
.technical__specs{
    padding: 4rem 0;
    p{
        font-size: 14px;
    }
}
.product__info__right{
    border-left: 2px solid #cecece;
    width: 100%;
}
.right__item{
    &:not(.warranty){
        border-bottom: 1px solid #cecece;
    }
    &__header{
        display: flex;
        padding: 2rem 0;
        i{
            color: blue;
            font-size: 3.5rem;
        }
        p{
            font-size: 18px;
            padding: 0.8rem 2rem;
            font-weight: bold;
        }
    }
    &__content{
        ul{
            padding-bottom: 2rem;
            padding-left: 1rem;
            li{
                list-style-type: disc !important;
            }
        }
        p{
            color: #808080;
            font-size: 15px;
        }
    }
}
.right__container{
    width: 90%;
    margin: 0 auto;
}


#product__details{
    //background: #ffffff;
    padding: 7rem 0;
    border-top: 2px solid #cecece;
}

.insets{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.inset{
    width: 100%;
    cursor: pointer;
    p{
        font-size: 14px;
        padding: 2.5rem 4rem;
        text-align: center;
    }
}
.details{
    background: #ffffff;
    border-bottom: 2px solid #cecece;
    &__content{
        display: none;
        p{
            font-size: 14px;
            padding: 2.5rem 4rem;
        }
    }
}
.click__border{
    border-bottom: 2px solid #f89b24;
}
.click__display{
    display: block !important;
}
.home__anchor{
    display: none;
    position: fixed;
    height: 5rem;
    width: 5rem;
    border-radius: 2.5rem;
    background-color: #f89b24;
    right: 3rem;
    bottom: 5rem;
    z-index: 99;
    cursor: pointer;
    img{
        padding: 1.3rem;
        &:hover{
          filter: invert(1);
        }
    }
}

@media screen and (max-width: 1300px){
    .product__item{
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media screen and (max-width: 1170px){
    .slider1{
        max-width: 30rem;
    }
    .slider-nav{
        max-width: 30rem;
    }
    .product__info{
        width: 100%;
    }
    .product__purchase{
        display: block;
        p{
            text-align: center;
        }
    }
    .purchase{
        margin-right: 0;
        margin-bottom: 1rem;
        max-width: 30rem;
    }
    .credit{
        max-width: 30rem;
    }
    .product__state{
        display: block;
        &__container2{
            margin-top: 1rem;
        }
    }
    .product__info__left{
        width: 70%;
    }
    .product__info__right{
        width: 30%;
        li{
            p{
                font-size: 12px;
            }
        }
    }
    .right__item__header{
        i{
            font-size: 3rem;
        }
        p{
            font-size: 16px;
        }
    }
}
@media screen and (max-width: 1100px){
    .slider1{
        max-width: 26rem;
    }
    .slider-nav{
        max-width: 26rem;
    }
}
@media screen and (max-width: 900px){
    .product__info__main{
        display: block;
    }
    .product__info__left{
        width: 100%;
    }
    .product__info__right{
        width: 100%;
        border-left: none;
        li{
            p{
                font-size: 14px;
            }
        }
    }
    .right__item__header{
        i{
            font-size: 3.5rem;
        }
        p{
            font-size: 18px;
        }
    }
}
@media screen and (max-width: 768px){
    .slider-nav{
        margin: 0 auto;
        margin-bottom: 2rem;
    }
    .slider1{
        max-width: 25rem;
        margin: 2rem auto;
    }
    .purchase{
        margin: 1rem auto;
    }
    .credit{
        margin: 0 auto;
    }
    .product__price{
        p{
            text-align: center;
        }
    }
    .bottom__line{
        justify-content: center;
    }
    .product__info{
        margin: 0;
    }
}
@media screen and (max-width: 650px){
    .insets{ 
        width: 100%;
        justify-content: space-between;
    }
    .inset{
        p{
            padding: 2.5rem 0;
        }
    }
}







@import 'media';
@import 'header';
@import 'nav';
@import 'animation';
@import 'footer';